[user]
	email = code@tomcooper.dev
	name = Thomas Cooper
[init]
	defaultBranch = main
[clone]
        defaultRemoteName = upstream
[diff]
        tool = kdiff3
[difftool "kdiff3"]
        path = /usr/bin/kdiff3
[difftool]
        prompt = false
        keepBackup = false
        trustExitCode = false
[merge]
        tool = kdiff3
        conflictstyle = diff3
[mergetool]
        prompt = false
        keepBackup = false
        keepTemporaries = false
[mergetool "kdiff3"]
        path = /usr/bin/kdiff3
[safe]
	directory = /drone/src
