[user]
    email = code@tomcooper.dev
    name = Thomas Cooper

[init]
    defaultBranch = main

[clone]
    defaultRemoteName = upstream

[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIClId7Txxq7LLYxaxC/vXa8kF1jCoqKkHRHlv5eO0XaO

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"

[commit]
    gpgsign = true

[merge]
    conflictstyle = diff3
