- hosts: localhost
  become: true
  tasks:
    - name: Add YADM repository
      ansible.builtin.yum_repository:
        name: yadm
        description: YADM Repository
        baseurl: https://download.opensuse.org/repositories/home:/TheLocehiliosan:/yadm/Fedora_42/
        gpgkey: https://download.opensuse.org/repositories/home:/TheLocehiliosan:/yadm/Fedora_42/repodata/repomd.xml.key
        gpgcheck: 1
        enabled: 1
    - name: Add 1Password repository
      ansible.builtin.yum_repository:
        name: 1password-stable
        description: 1Password Stable Channel Repository
        baseurl: https://downloads.1password.com/linux/rpm/stable/$basearch
        gpgkey: https://downloads.1password.com/linux/keys/1password.asc
        gpgcheck: 1
        #repo_gpgcheck: 1
        enabled: 1
    - name: Add VSCode repository
      ansible.builtin.yum_repository:
        name: vscode
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc
        enabled: 1
        gpgcheck: 1
    - name: Add Wavebox repository
      ansible.builtin.yum_repository:
        name: wavebox-stable
        description: Wavebox Repository
        baseurl: https://download.wavebox.app/stable/linux/rpm
        gpgkey: https://download.wavebox.app/static/wavebox_repo.key
        gpgcheck: 1
    - name: Add the GitHub CLI repository
      ansible.builtin.yum_repository:
        name: github-cli
        description: GitHub CLI
        baseurl: https://cli.github.com/packages/rpm
        gpgkey: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x23F3D4EA75716059
        enabled: 1
        gpgcheck: 1
        state: absent
    - name: Add the bottom (resource monitor) repo
      community.general.copr:
        state: enabled
        name: atim/bottom
    - name: Add the gping repo
      community.general.copr:
        state: enabled
        name: atim/gping
    - name: Add Ghostty terminal repo
      community.general.copr:
        state: enabled
        name: pgdev/ghostty
    - name: Add eza repo
      community.general.copr:
        state: enabled
        name: alternateved/eza

