- import_playbook: base-repos.yml
- import_playbook: flatpak-base.yml
- hosts: localhost
  become: true
  tasks:
    - name: Install native packages
      dnf: name={{item}}
      with_items:
        - zsh
        - zsh-syntax-highlighting
        - ghostty
        - vim
        - gvim
        - eza
        - bat
        - fzf
        - yadm
        - bottom
        - gping
        - Wavebox
        - 1password
        - 1password-cli
        - code
        - uv
        - ipython
        - flac
        - k3b
        - strawberry
        - zeal
        - gh
        - podman
        - kubernetes-client
        - fontawesome-fonts-all
    - name: Install flatpak packages
      community.general.flatpak:
        name:
          - com.github.tchx84.Flatseal
          - md.obsidian.Obsidian
          - org.zotero.Zotero
          - com.plexamp.Plexamp
          - com.synology.SynologyDrive
          - ch.protonmail.protonmail-bridge
          - me.proton.Pass 
          - com.protonvpn.www
