---
- import_playbook: fedora.yml
- hosts: localhost
  become: true
  tasks:
    - name: Install native packages
      dnf: name={{item}}
      with_items:
        - waybar
        - kanshi
        - pasystray
        - copyq
        - ranger
        - rofi-wayland
        - playerctl
        - okular
    - name: Get latest dunst-waybar release
      uri:
        url: https://api.github.com/repos/tomncooper/dunst-waybar/releases/latest
        return_content: yes
      register: dunst_waybar_release
    - name: Install dunst-waybar from latest RPM
      dnf:
        name: "{{ dunst_waybar_release.json.assets | selectattr('name', 'match', '.*amd64\\.rpm$') | map(attribute='browser_download_url') | first }}"
        state: present
        disable_gpg_check: true
