---
- import_playbook: fedora.yml
- hosts: localhost
  become: true
  tasks:
    - name: Install native packages
      dnf: name={{item}}
      with_items:
        - waybar
        - kanshi
        - pasystray
        - copyq
        - ranger
        - rofi-wayland
        - playerctl
        - okular
