* {
    border: none;
    border-radius: 0;
    font-family: HackNerdFont, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #073642;
    color: #fdf6e3;
}

tooltip {
  background: #073642;
  border: 1px solid #fdf6e3;
}

tooltip label {
  color: #fdf6e3;
}

#workspaces button {
    padding: 0 5px;
    background: #073642;
    color: #fdf6e3;
    border-bottom: 4px solid transparent;
}

#workspaces button.focused {
    background: #859900;
    border-bottom: 4px solid #fdf6e3;
}

#clock {
    padding-right: 5px;
    padding-left: 5px;
    background-color: transparent;
}

#custom-beattime {
    padding-right: 6px;
    padding-left: 6px;
    background-color: transparent;
}

#battery, #cpu, #memory, #pulseaudio {
    padding-left: 4px;
    padding-right: 7px;
}

#battery {
    background-color: transparent;
    color: #fdf6e3;
}

#battery.charging {
    color: #fdf6e3;
    background-color:#859900;
}


#pulseaudio {
    padding-bottom: 0px;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#network {
    padding-left: 10px;
    padding-right: 15px;
}

#custom-dunst {
    padding-left: 10px;
    padding-right: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: #fdf6e3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
